#rana{
    color:red;
    text-align: center;
    text-decoration: line-through;

}
.mr{
    color:green;

}
span{
    color:red;

}
#mg{
    background-image: ;
    padding:20px;
    border: 20px;

}
#pl{
    color: rgb(218, 4, 22);
     
     
}

#mr1{
    color:red;
}
